* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* html {
    height: 100vh;
} */

body {
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

audio {
    position: absolute;
    bottom: 0.3rem;
}

.lifes {
    position: absolute;
    top: .2rem;
    right: .2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.lifes i {
    color: rgba(255, 0, 0, 0.795);
    font-size: 42px;
    transition: all 0.7s ease-in-out;
}

.lifes i:first-child.last {
    animation: scaleInOut 2s ease-in-out infinite;
}

.lifes i.lost {
    color: rgba(255, 0, 0, 0.185);
    animation: scaleInOut 2s ease-in-out;
}

.treasures {
    position: absolute;
    bottom: calc(70vh - 42px);
    right: .2rem;
    margin: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.treasures img {
   width: 44px;
   height: 42px;
   opacity: 0.3;
   transition: all 0.5s ease-in-out;
}

.treasures img.finded {
    opacity: 1;
    animation: scaleInOut 2s ease-in-out;
}

.grid {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin-top: 1rem;
}
.cell {
    width: calc(90vw/20);
    height: calc(90vh/20);
    border: 1px solid grey;
    grid-column: 1 span;
    grid-row: 1 span;
}

.cell.rock {
    background-image: url(assets/rock.png);
}

.cell.treasure {
    background-image: url(assets/treasure.png);
    animation: scaleInOut 2s ease-in-out infinite;
    border: none;
}

.cell.player {
    background-image: url(assets/player.png);
}

.cell.blue-dragon {
    background-image: url(assets/blue-dragoon.png);
}

.cell.orange-dragoon {
    background-image: url(assets/orange-dragoon.png);
}

.success {
    color: green;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.btn-replay {
    margin-top: 20px;
    padding: 40px 80px;
    background-color: green;
    color: #f9fcf9;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #3f3333;
    font-size: 28px;
}

.btn-replay:hover {
    background-color: rgba(255, 255, 0, 0.501);
}

.gamepad {
    display: none;
    position: absolute;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}



@media screen and (max-width: 767px) {
   
    .grid {
        height: 40vh;
        width: 100vw;
    }

    .cell {
        width: calc(100vw/20);
        height: calc(40vh/20);
    }

    .success {
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        font-size: 20px;
    }

    .btn-replay {
        padding: 20px 40px;
        font-size: 16px;
    }

    .lifes {
        position: relative;
        flex-direction: row;
    }

    .treasures {
        position: inherit;
        flex-direction: row;
    }

    .lifes i {
        font-size: 40px;
    }

    audio {
        display: none;
    }

    .gamepad {
        display: flex;
        gap: 15px;
        margin-top: 6rem;
        position: initial;
    }
    
    .gamepad button {
        padding: 10px 20px;
        background-color: gray;
        color: #f9fcf9;
        border: none;
        cursor: pointer;
        border-radius: 12px;
        box-shadow: 5px 5px 5px orangered;
        font-size: 20px;
    }

    .btnUp {
        position: absolute;
        transform: translate(4.2rem, -4rem);
    }
    .btnDown {
        position: absolute;
        transform: translate(3rem, 4rem);
    }
}